// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessionspages {
  padding: 10px 0 0 10px;
}

.sessionspages h1 {
  padding: 0 0 10px 0;
}

td.right div.sessionspages{
  margin-left: auto;
  margin-right: auto;
}
