// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events .content form div {
  padding: 0 0 1em 0;
}

.events .content {
    background-color: white;
    top: 5px;
    width: 80%;
    float: left;
}

.events .content h1 {
  margin: 0 0 1em 0;
}

.events .content table {
	margin: 0 0 0 0;
}

.events .content .list {
  width: 102%;
}

.content .new_event .event_description textarea {
  border:1px solid #999999;
  width: 300px;
  height: 100px;
  margin:5px 0;
  padding:3px;
  resize: none;
}

.content .new_event .event_name input {
  border:1px solid #999999;
  width: 300px;
  margin:5px 0;
  padding:3px;
}

.events .content .calendar {
	width: 95%;
}

.events .taskbar {
    background-color: white;
    top: 5px;
    margin: 0 0 0 1em;
    float: right;	
}

.events .taskbar div {
    margin: 0 0 1em 0;
}

.user_cal {
    background-color: white;
    padding: 10px 10px;
    top: 5px;
    width: 80%;
}

.eventlist {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top:1px solid #999999;
    width: 110%;
}

.events .eventlist table {
  width: 100%;
  empty-cells: hide;
  border-collapse:separate;
}

.events .eventlist table th {
  margin: 0 5px 0 5px;
  background-color: #C6D5ED;
  border: solid 1px black;
  empty-cells: hide;
  border-collapse:separate;
}